@import '../../styles/colors.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $dark;
  text-align: center;
  padding: 20px;
  margin-top: 0;
  height: 100vh;
  overflow: hidden !important;
}

.title {
  font-size: 3rem;
  font-family: 'Fascinate', sans-serif;
  margin-bottom: 40px !important;
  background-image: linear-gradient($accent, $accent);
  background-position: 0 90%;
  background-repeat: no-repeat;
  background-size: 100% 0.5em;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 15px;
  line-height: 1.6;
  max-width: 800px;
  background-color: rgba($light, 0.7); // 50% opacity
  border-radius: 20px;
}
