@import '../../styles/colors.module.scss';

.searchBox {
  position: relative;
  width: 60%;
  max-width: 800px;
  padding: 10px;
  margin-top: 10px;
}

//media queries
@media (max-width: 768px) {
  .searchBox {
    width: 90%;
  }
}
