@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import '../../styles/colors.module.scss';

.splashContainer {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: $dark;
  text-align: center;
}

.contentOverlay {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: $dark;
  font-size: 3rem;
  margin-bottom: 20px;
  font-family: 'Fascinate';
}

.subtitle {
  color: $dark;
  margin-bottom: 40px;
  font-weight: 200;
}

.progressContainer {
  position: relative;
  width: 50%;
  height: 10px;
  background-color: $dark;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
  border: 1px solid $dark;
}

.progressBar {
  height: 100%;
  background-color: $accent;
  transition: width 0.3s ease;
}
