.noProjects {
  font-size: 0.9rem;
  line-height: 1.6;
  max-width: 800px;
  margin-top: 1rem;
}

.avatar {
  width: 15vw;
  height: 15vw;
  max-width: 400px;
  max-height: 400px;
  margin: 20px;
}

@media (max-width: 1024px) {
  .avatar {
    width: 30vw;
    height: 30vw;
    max-width: 400px;
    max-height: 400px;
    margin: 20px;
  }
}
