@import '../../styles/colors.module.scss';

.toolbar {
  width: 100%;
  min-height: 64px;
  padding: 0;
  display: flex;
  align-items: center;
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark !important;
  z-index: 1201;
  padding: 0 20px;
  box-shadow:
    0px 2px 3px 0px $accent,
    0px 1px 1px 0px $accent !important;
}

.desktopNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.iconLinks {
  display: flex;
  gap: 15px;
  margin-left: auto;
}

.iconLink {
  color: $light;
  font-size: 16px;
  transition: color 0.3s ease;

  &:hover {
    color: $accent;
  }
}

.navLink {
  text-decoration: none;
  font-weight: 300;
  font-size: small;
  transition: color 0.3s ease;
  color: $light;
  &:hover,
  &:active {
    color: $accent !important;
  }
}

.mobileNav {
  display: none; // Hidden by default
}

.mobileNavLink {
  text-decoration: none;
  font-weight: 300;
  font-size: medium;
  color: $dark;
  &:hover,
  &:active {
    color: $accent !important;
  }
}

.menuIcon {
  color: $light;
  font-size: 30px;
}

@media (max-width: 768px) {
  .mobileNav {
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  .desktopNav {
    display: none; // Hidden on mobile
  }
}
