@import '../../styles/colors.module.scss';

.projectsContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $dark;
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 15px;
  line-height: 1.6;
  max-width: 800px;
}
